<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Cart</title>
    <link href="/webjars/bootstrap/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>

<body style="width: 60%; margin: auto;background-color: aliceblue">
<div th:replace="template :: header_menu"></div>
<div style="overflow: hidden;">
    <div class="task-content" th:each="product : ${deals}">
        <div class="product-box col-xs-6 col-md-4" style="text-align: center; width: fit-content;">
            <a th:href="${'/product/' + product.id}">
                <img th:src="${product.image}" th:height="300px">
            </a>
            <div class="caption" style="text-align: center">
                <div class="capt_name"><h1 th:text="${product.name}"></h1></div>
            </div>
            <div th:each="deal : ${product.deals}">
                <div>
                    <h4 th:text="${'Покупатель: '+deal.buyer.user.name}"></h4>
                    <h4 th:text="${'Адрес: '+deal.buyer.address}"></h4>
                    <form th:method="POST" th:action="@{/confirm}">
                        <input type = "hidden" name = "dealId" th:value="${deal.id}"/>
                        <button class="btn btn-primary" type="submit" th:text="${deal.flag} ? 'Отклонить' : 'Одобрить'"></button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</body>

</body>
</html>